<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
      
        <h1><%= user.name %>  please fill the form </h1>

        <!-- Passing age parameter to the middleware before posting reqauest to '/formsubmit' -->
        <form action='/formsubmit?age=18' method="POST">
            <label for="name">Name:</label>
            <input type="ratio" id="name" name="name" placeholder="Name" required>
            <label for="name">Name:</label>
            <input type="ratio" id="age" name="age" placeholder="Age" required>
            <input type="submit" > 
        </form>
        <script>
            const age=document.getElementById('age').value;
            console.log(age)
        </script>
    </body>
</html>